#banner
	.banner_content
		%h1 Scribble
		%p Your online scribble pad. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period"
		%p.name - Joshua Munene

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Thundercat
				%p The design and simplicity of this website makes it hugely easy to write my scribbles.
			.callout
				%h2 Silverhawk
				%p The design and simplicity of this website makes it hugely easy to write my scribbles.
			.callout
				%h2 C.O.P.S.
				%p The design and simplicity of this website makes it hugely easy to write my scribbles.

#bottom_cta
	.wrapper
		%h2 Scribble Away!
		%p Sign up now and start scribbling!
		%button= link_to "Click Here", new_user_registration_path

%footer
	%p &copy; Joshua Munene
